extends ../_main.layout.pug

mixin labSection(title)
  section(data-title=title)&attributes(attributes)
    h3
      a(href="#" + attributes.id)
      =title

    block

mixin question(title)
  section.question(data-title=title)&attributes(attributes)
    h4
      a(title=title)
      =title
    block

mixin deliverable(title)
  h5.deliverable
    if title
      =title
    else
      | Deliverable

    block


block styles
  link(rel="stylesheet" href=assets.css('labs/labs.css'))

block title
  title Lab !{padLeft(lab.index, 2, '0')}: !{lab.title} - !{data.course.code} !{lab.start.year()}

block content
  .row
    .col-sm-8.col-md-9#lab-content(data-spy="scroll" data-target="#scroll-nav" data-offset="0")

      h2.lab-title Lab !{padLeft(lab.index, 2, '0')}: !{lab.title}

      dl.lab-dates
        dt Runs
        dd Week of !{lab.start.format("MMM DD, YYYY")}
        dt Due
        dd Week of !{lab.start.clone().add(1, 'weeks').format("MMM DD, YYYY")}

      .row
        if lab.authors.length > 0
          .col-lg-6.col-sm-12 Prepared by:
            ul.name-list
              each author in lab.authors
                li: +author(author)

        if lab.acknowledgements.length > 0
          .col-lg-6.col-sm-12 Acknowledgements:
            ul.name-list
              each author in lab.acknowledgements
                li: +author(author)


      +labSection("Rationale and Background")#rationale
        block rationale

      +labSection("Provided Code")#provided
        block provided
          :md
            Code is provided in a Github repository. The link is provided in the
            {{owlLink "page/a64921e3-f0ee-434f-af72-7dbc6ec426ef" "Assignments"}} page.

      +labSection("Evaluation")#evaluation
        block evaluation
          :md
            You will complete and show the working code to your TA. Your TA will ask you questions regarding your
            solution. These questions are aimed to verify your learning and showcase what you've learned. Thus, these
            labs are not just about completion, but also understanding.

            Credit will be given for:

            * Showing a working solution
            * Answering questions about your solution
            * Submission of code

      +labSection("Pre-Lab Exercise")#prelab
        block prelab

      +labSection("Lab Exercise")#exercise.exercise
        block exercise

      +labSection("Submission")#submission
        block submission

        block submission-instructions
          :md
            When your code is hosted on your repository, you will submit your lab to the assignment on the
            {{owlLink "page/a64921e3-f0ee-434f-af72-7dbc6ec426ef" "Assignments"}} page. In your submission, the
            **only** content will be a link to your repository.

      block content

    nav.col-sm-4.col-md-3#scroll-nav
      ul.nav.nav-stacked.content-nav(data-spy="affix")

block scripts
  script(src=assets.js('labs.bundle.min.js'))
